<?xml version="1.0" ?>
<model>
  <name>arm3dof</name>  <version>1.0</version>
  
  <sdf version="1.9">model.sdf</sdf>
  
  <author>
    <name>EsatSimsek</name>
  </author>
  
  <description>
    A basic 3-Degrees of Freedom (DOF) robotic arm featuring yaw, shoulder, and elbow revolute joints. 
    The model is defined using URDF/Xacro or SDF and includes Gazebo position controllers (gz-sim-joint-position-controller).
  </description>

  <license>MIT</license>

</model>